@charset "UTF-8";

body
{
    margin: 0;
    background-color: #1e1e1e;
    font-family: "meiryo";
    font-size: 0;
    color: white;
}

div
{
    display: inline-block;
    vertical-align: top;
}

p
{
    margin: 0;
}

.input-area
{
    display: block;
    background-color: #0d0d0d;
}

.input
{
    width: 100%;
    height: 300px;
    resize: none;
    color: white;
    background-color: #0d0d0d;
    border: none;
}

.input:focus
{
    outline: none;
}

.p-button
{
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    transition: background-color .2s;
}

.p-button:hover
{
    background-color: rgba(255,255,255,.1);
}

.ships
{
    display: block;
}

.ship
{
    height: 110px;
    display: block;
    padding: 20px 0 10px 0;
}

.ship.white
{
    background-color: rgba(255,255,255,.1);
}

.name
{
    width: 150px;
    height: 110px;
    font-size: 20px;
    text-align: center;
}

.name p
{
    display: table-cell;
    width: 150px;
    height: 110px;
    vertical-align: middle;
    text-align: center;
}

.img-contain
{
    width: 100px;
    height: 110px;
    margin-right: 3px;
}

.img-contain img
{
    width: 100px;
    height: 90px;
    background-color: rgba(255,255,255,.1);
}

.img-name
{
    width: 100px;
    height: 20px;
    line-height: 20px;
    font-size: 15px;
    text-align: center;
}