@charset "UTF-8";

@font-face
{
    font-family: "futurabook";
    src: url("fonts/futuraBook.otf") format("opentype");
}

@font-face
{
    font-family: "futuralight";
    src: url("fonts/futuraLight.otf") format("opentype");
}

body
{
    margin: 0;
    background-color: #020303;
    font-family: "segoe ui";
    color: #e7e7e5;
}

.input-wrap
{
    width: 100%;   
    margin-top: 40vh; 
    text-align: center;
}

.button
{
    display: inline-block;
    height: 30px;
    padding: 5px 20px 5px 20px;
    border: 1px solid #22252a;
    cursor: pointer;
    user-select: none;
}

.url-box
{
    display: block;
    margin: auto;
    height: 30px;
    width: 600px;
    color: #e7e7e5;
    font-size: 18px;
    background-color: rgba(0,0,0,0);
    border-style: none;    
    border-bottom: 1px solid #e7e7e5;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.url-box:focus
{
    outline: none;
    border-bottom-width: 2px;
}

.viewer
{
    font-size: 0;
}

.viewer div
{
    display: inline-block;
    vertical-align: top;
}

.button:hover
{
    background-color: #3d81a7;
}

.expedition
{
    width: 250px;
    height: 420px;
    /*background-color: #e7e7e5;*/
}

.exp-fleet
{
    background-color: blue;
    width: 250px;
    height: 140px;
}

exp-fleet
{
    font-family: "futurabook";
    --font-light: "futuralight";
}

.fleet
{
    width: 540px;
    height: 220px;
    background-color: red;
}

.fleet-entry
{
    width: 150px;
    height: 220px;
    background-color: green;
}

.tabs
{
    width: 100%;
    height: 40px;    
    border-bottom: 1px solid #798988;
}

.collapse
{
    display: none;
    height: 0;
    width: 0;
    overflow: hidden;
}