@charset "UTF-8";

body
{
    margin: 0;
    background-color: #020303;
    font-family: "segoe ui";
    color: white;
}

.input-wrap
{
    width: 100%;   
    margin-top: 40vh; 
    text-align: center;
}

.button
{
    display: inline-block;
    height: 30px;
    padding: 5px 20px 5px 20px;
    border: 1px solid #22252a;
    cursor: pointer;
    user-select: none;
}

.url-box
{
    display: block;
    margin: auto;
    height: 30px;
    width: 600px;
    color: white;
    font-size: 18px;
    background-color: rgba(0,0,0,0);
    border-style: none;    
    border-bottom: 1px solid white;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.url-box:focus
{
    outline: none;
    border-bottom-width: 2px;
}

.button:hover
{
    background-color: #3d81a7;
}