@charset "UTF-8";

body
{
    margin: 0;
    background-color: #020303;
    font-family: "segoe ui";
    color: white;
}

.button
{
    display: inline-block;
    height: 30px;
    padding: 5px 20px 5px 20px;
    border: 1px solid #22252a;
    cursor: pointer;
    user-select: none;
}

.button:hover
{
    background-color: #3d81a7;
}